*/node_modules/*
*/config/
*/dev.js
inflearn_movie/server/config/dev.js
inflearn_movie/client/src/components/Config.js
inflearn_youtube/server/config/dev.js
inflearn_youtube/uploads/*
inflearn_chatbot/server/config/dev.js
scheduler/server/config/dev.js

scheduler/server/node_modules/
