*/node_modules/
*/config/
inflearn_movie/server/config/dev.js
inflearn_movie/client/src/components/Config.js
inflearn_youtube/server/config/dev.js
inflearn_youtube/uploads/1592801292683_EZuv5vAUcAA655A.mp4
inflearn_youtube/uploads/1592801936933_EZuv5vAUcAA655A.mp4
inflearn_youtube/uploads/1592804577085_videoplayback.mp4
inflearn_youtube/uploads/1592804698083_EZuv5vAUcAA655A.mp4
inflearn_youtube/uploads/1592804750484_EZuv5vAUcAA655A.mp4
inflearn_youtube/uploads/thumbnails/thumbnail-1592801936933_EZuv5vAUcAA655A_1.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592801936933_EZuv5vAUcAA655A_2.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592801936933_EZuv5vAUcAA655A_3.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804577085_videoplayback_1.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804577085_videoplayback_2.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804577085_videoplayback_3.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804698083_EZuv5vAUcAA655A_1.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804698083_EZuv5vAUcAA655A_2.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804698083_EZuv5vAUcAA655A_3.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804750484_EZuv5vAUcAA655A_1.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804750484_EZuv5vAUcAA655A_2.png
inflearn_youtube/uploads/thumbnails/thumbnail-1592804750484_EZuv5vAUcAA655A_3.png
inflearn_chatbot/server/config/dev.js
